%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{:href => "/"}
          Home
      %li.nav-item
        %a.nav-link{:href => "/partners/index"} Partners
      %li.nav-item
        %a.nav-link{:href => "/audience/index"} Audience

